<!DOCTYPE html>
<html>

<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
    <style>
        #background {
            background-color: rgba(242, 0, 255, 1);
        }

        #shapa {
            border: 1px solid black;
            background: rgba(255, 0, 0, 0.3);
            text-align: left;
            font: normal small-caps 52px/54px fantasy;
            height: 32mm;
            max-height: 200px;
            line-height: 100px;
        }

        * {
            margin: 0;
            padding: 0;
            outline: none
        }

        nav {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        #main {
            border: 1px solid black;
            background: rgba(0, 0, 255, 0.3);
            text-align: left;
            font: bold italic 110% serif;
        }

        #list {
            border: 1px solid black;
            margin: 0 auto;
            background: rgba(255, 128, 128, 0.5);
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 30px;
            padding-left: 150 pt;
        }

        #forma {
            border: 1px solid black;
            margin: 0 auto;
            background: rgba(255, 0, 0, 0.4);
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 30px;
            padding-left: 150 pt;
        }

        #foot {
            border: 1px solid black;
            background: rgba(255, 126, 0, 0.40);
            text-align: left;
            font: normal small-caps 52px/54px fantasy;
            height: 32mm;
            line-height: 100px;
            max-height: 200px;
        }

        /*таблица*/
        .lux {
            width: 300px;
            border: 1px solid #a52a2a;
            border-collapse: collapse;
            border-spacing: 0;
            text-align: center;
            margin: auto;
        }

        .lux th {
            background: rgba(144, 32, 230, 1);
            color: white;
        }

        .lux td {
            border-bottom: 1px solid black;
        }

        .lux td,
        .lux th {
            padding: 4px;
        }

        .caption {
            caption-side: top;
            text-align: center;
            padding: 10px 0;
            font-size: 14px;
        }

        tr:nth-child(even) {
            background: rgba(255, 0, 200, 1);
        }

        tr:nth-child(odd) {
            background: rgba(244, 117, 255, 1);
        }

        /* Flex box зона */
        .flex {
            display: flex;
            flex-direction: column;
        }

        .list,
        .table,
        .forma {
            margin: 20px;
        }

        .list {
            order: 0;
        }

        .table {
            order: 2;
        }

        .forma {
            order: 1;
        }

        .flexer {
            display: flex;
            flex-direction: row;
            margin: 0 auto;
        }

        @media (min-width: 991.98px) {
            #list {
                max-width: 600px;
            }

            #main {
                max-width: 400px;
                text-align: center;
                margin: 0 auto;
                margin-top: 15px;
                padding: 10px;
                word-spacing: 30px;
                word-wrap: inherit;
            }

            #forma {
                max-width: 600px;
            }

            nav {
                flex-direction: row;
            }

            .flexer {
                display: flex;
                flex-direction: column;
                margin: 0 auto;

            }

            .table {
                order: 1;
            }

            .forma {
                order: 2;
            }
        }
    </style>
</head>

<body>
    <main id="background">
        <nobr id="login_suc"></nobr>
        <div class="forma">
            <div id="list">
                <h2 id="forma"><%=form %></h2>
                <form action="/" enctype="application/x-www-form-urlencoded" method="POST" id='form'>
                    <label>
                        Имя:
                        <br /><input id="name" type="text" name="name" value="" placeholder="Введите имя">
                        <nobr id="name_fail"></nobr>
                    </label>
                    <label>
                        <br />e-mail:
                        <br /><input id="email" type="email" name="email" value="" placeholder="example@erebor.com">
                        <nobr id="email_fail"></nobr>
                    </label>
                    <label>
                        <br />Дата рождения:
                        <br /><input id="birthday" type="date" name="birthday" value="" placeholder="Дата рождения">
                        <nobr id="birthday_fail"></nobr>
                    </label>
                    <br />Пол:
                    <nobr id="sex_fail"> </nobr>
                    <br />
                    <label id='sex1'>
                        <input name="sex" type="radio" value="male">
                        Мужской
                    </label>
                    <label id='sex2'>
                        <input name="sex" type="radio" value="female">
                        Женский
                    </label>
                    <br />Количество конечностей:<nobr id="limbs_fail"></nobr>
                    <br />
                    <div id="limbs"><label>
                            <input name="limbs" type="radio" value="1">
                            1
                        </label>
                        <label>
                            <input name="limbs" type="radio" value="2">
                            2
                        </label>
                        <label>
                            <input name="limbs" type="radio" value="3">
                            3
                        </label>
                        <label>
                            <input name="limbs" type="radio" value="4">
                            4
                        </label>
                        <label>
                            <input name="limbs" type="radio" value="more">
                            5+
                        </label>
                    </div>
                    <label>
                        Сверхспособности:<nobr id="abilities_fail"></nobr>
                        <br />
                        <select size="4" name="abilities" id='abilities' multiple>
                            <option value="immortality">Бессмертие</option>
                            <option value="invis">Невидимость</option>
                            <option value="tp">Телепортация</option>
                            <option value="levitation">Левитация</option>
                        </select>
                    </label>
                    <label>
                        <br />Биография:
                        <nobr id="biography_fail"></nobr>
                        <br /><textarea id='biography' name="biography" value="" placeholder="Напишите свою биографию"
                            cols="50" rows="10"></textarea>
                    </label>
                    <label id='checkbox'>
                        <br />С контрактом ознакомлен:
                        <input type="checkbox" name="checkbox">
                    </label>
                    <nobr id="checkbox_fail"></nobr>
                    <br /><button type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </main>
</body>
<html>
<script type="text/javascript">
    const form = document.querySelector('form');

    form.addEventListener('submit', (event) => {
        event.preventDefault();
        var arr = [];
        var ddska = undefined;
        var limba = undefined;
        var check = undefined
        const tt = document.getElementById('abilities').selectedOptions;
        for (let i = 0; i < tt.length; i++) {
            arr.push(tt[i].value);
        }
        var dd = document.getElementsByName('sex');
        for (var i = 0; i < 2; i++) {
            if (dd[i].checked == true)
                ddska = dd[i].value
        }
        dd = document.getElementsByName('limbs');
        for (var i = 0; i < dd.length; i++) {
            if (dd[i].checked == true)
                limba = dd[i].value
        }
        dd = document.getElementsByName('checkbox');
        for (var i = 0; i < dd.length; i++) {
            if (dd[i].checked == true)
                check = dd[i].value
        }
        var toSend = {
            name: document.getElementById('name').value,
            email: document.getElementById('email').value,
            birthday: document.getElementById('birthday').value,
            sex: ddska,
            limbs: limba,
            abilities: arr,
            biography: document.getElementById('biography').value,
            checkbox: check
        }
        const xhr = new XMLHttpRequest();
        xhr.onload = () => {
            if (xhr.status >= 200 && xhr.status < 300) {
                const response = xhr.response;
                //console.log(response);
                cock_man();
            }
        };
        var formData = JSON.stringify(toSend);
        console.log(formData);
        xhr.open('POST', '/xhr');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(formData));
    });
    window.onload = function () {
        cock_man();
        return false;
    }
    function cock_man() {
        if (get_cookie('success_cookies')) {
            if (get_cookie('success_cookies') == 'login') {
                document.getElementById('forma').innerHTML = "Вы авторизовались";
            }
            else if (get_cookie('success_cookies') == "update") {
                document.getElementById('forma').innerHTML = "Ваша форма успешно обновленна";
            }
            else {
                document.getElementById('forma').innerHTML = "Форма успешно отправлена";
                document.getElementById('login_suc').innerHTML = "Ваш логин: " + get_cookie('loginlllll') + '\r\n' + "Ваш пароль: " + get_cookie('password')
                delete_cookie('loginlllll');
                delete_cookie('password');
            }
            delete_cookie('success_cookies');
            document.getElementById('name').value = get_cookie("success_name");
            document.getElementById('email').value = get_cookie("success_email");
            document.getElementById('birthday').value = get_cookie("success_birthday");
            var rad = document.getElementsByName('sex');
            var parametr = get_cookie("success_sex");
            for (var i = 0; i < 2; i++) {
                if (rad[i].value == parametr)
                    rad[i].checked = true;
            }
            rad = document.getElementsByName('limbs');
            parametr = get_cookie("success_limbs");
            for (var i = 0; i < 5; i++) {
                if (rad[i].value == parametr)
                    rad[i].checked = true;
            }
            var masiv = [];
            var k = 0;
            parametr = get_cookie("success_abilities");
            for (var i = 0; i < parametr.length; i++) {
                if (parametr[i] == ',') {
                    masiv.push(parametr.substring(k, i));
                    k = i + 1;
                }
            }
            masiv.push(parametr.substring(k, parametr.length));
            const select = document.querySelector('#abilities').getElementsByTagName('option');
            for (let i = 0; i < select.length; i++) {
                for (var j = 0; j < masiv.length; j++) {
                    if (select[i].value === masiv[j])
                        select[i].selected = true;
                }
            }
            var results = document.cookie.match('(^|;) ?' + "success_biography" + '=([^;]*)(;|$)');
            document.getElementById('biography').value = decodeURIComponent(results[2]);
            document.getElementsByName('checkbox')[0].checked = true;
            delete_cookie('name_fail');
            delete_cookie('email_fail');
            delete_cookie('birthday_fail');
            delete_cookie('sex_fail');
            delete_cookie('limbs_fail');
            delete_cookie('abilities_fail');
            delete_cookie('biography_fail');
            delete_cookie('checkbox_fail');
            delete_cookie('name');
            delete_cookie('email');
            delete_cookie('birthday');
            delete_cookie('sex');
            delete_cookie('limbs');
            delete_cookie('abilities');
            delete_cookie('biography');
            delete_cookie('checkbox');
        }
        else {
            if (get_cookie("name_fail") == '') {
                delete_cookie('name_fail');
            }
            if (get_cookie("email_fail") == '') {
                delete_cookie('email_fail');
            }
            if (get_cookie("birthday_fail") == '') {
                delete_cookie('birthday_fail');
            }
            if (get_cookie("sex_fail") == '') {
                delete_cookie('sex_fail');
            }
            if (get_cookie("limbs_fail") == '') {
                delete_cookie('limbs_fail');
            }
            if (get_cookie("abilities_fail") == '') {
                delete_cookie('abilities_fail');
            }
            if (get_cookie("biography_fail") == '') {
                delete_cookie('biography_fail');
            }
            if (get_cookie("checkbox_fail") == '') {
                delete_cookie('checkbox_fail');
            }
            var log = document.getElementById('name');
            if (get_cookie("name_fail") != null) {
                log.style.backgroundColor = 'red';
                if (get_cookie("name_fail") == 'name')
                    document.getElementById("name_fail").innerHTML = "Используйте только латинские символы";
                if (get_cookie("name_fail") == 'name_zero')
                    document.getElementById("name_fail").innerHTML = "Введите имя";
            }
            log = document.getElementById('email');
            if (get_cookie("email_fail") != null) {
                log.style.backgroundColor = 'red';
                if (get_cookie("email_fail") == 'email')
                    document.getElementById("email_fail").innerHTML = "Используйте стандартные символы для почты";
                if (get_cookie("email_fail") == 'email_zero')
                    document.getElementById("email_fail").innerHTML = "Введите почту";
            }
            log = document.getElementById('birthday');
            if (get_cookie("birthday_fail") != null) {
                log.style.backgroundColor = 'red';
                if (get_cookie("birthday_fail") == 'birthday')
                    document.getElementById("birthday_fail").innerHTML = "Некоректная дата";
                if (get_cookie("birthday_fail") == 'birthday_zero')
                    document.getElementById("birthday_fail").innerHTML = "Введите дату своего ДР";
            }
            if (get_cookie("sex_fail") != null) {
                log = document.getElementById('sex1');
                log.style.backgroundColor = 'red';
                log = document.getElementById('sex2');
                log.style.backgroundColor = 'red';
                document.getElementById("sex_fail").innerHTML = "Выберите пол";
            }
            log = document.getElementById('limbs');
            if (get_cookie("limbs_fail") != null) {
                log.style.backgroundColor = 'red';
                document.getElementById("limbs_fail").innerHTML = "Выберите кол-во конечностей";
            }
            log = document.getElementById('abilities');
            if (get_cookie("abilities_fail") != null) {
                log.style.backgroundColor = 'red';
                document.getElementById("abilities_fail").innerHTML = "Выберите способности";
            }
            log = document.getElementById('biography');
            if (get_cookie("biography_fail") != null) {
                log.style.backgroundColor = 'red';
                document.getElementById("biography_fail").innerHTML = "Заполните биографию";
            }
            log = document.getElementById('checkbox');
            if (get_cookie("checkbox_fail") != null) {
                log.style.backgroundColor = 'red';
                document.getElementById("checkbox_fail").innerHTML = "Ознакомтесь с контрактом";
            }
            if (get_cookie("name")) {
                var results = document.cookie.match('(^|;) ?' + "name" + '=([^;]*)(;|$)');
                document.getElementById('name').value = decodeURIComponent(results[2]);
            }
            else if (get_cookie("success_name"))
                document.getElementById('name').value = get_cookie("success_name");
            if (get_cookie("email"))
                document.getElementById('email').value = get_cookie("email");
            else if (get_cookie("success_name"))
                document.getElementById('email').value = get_cookie("success_email");
            if (get_cookie("birthday"))
                document.getElementById('birthday').value = get_cookie("birthday");
            else if (get_cookie("success_birthday"))
                document.getElementById('birthday').value = get_cookie("success_birthday");
            var rad;
            var parametr;
            if (get_cookie("sex")) {
                rad = document.getElementsByName('sex');
                parametr = get_cookie("sex");
                for (var i = 0; i < 2; i++) {
                    if (rad[i].value == parametr)
                        rad[i].checked = true;
                }
            }
            else if (get_cookie("success_sex")) {
                rad = document.getElementsByName('sex');
                parametr = get_cookie("success_sex");
                for (var i = 0; i < 2; i++) {
                    if (rad[i].value == parametr)
                        rad[i].checked = true;
                }
            }
            if (get_cookie("limbs")) {
                rad = document.getElementsByName('limbs');
                parametr = get_cookie("limbs");
                for (var i = 0; i < 5; i++) {
                    if (rad[i].value == parametr)
                        rad[i].checked = true;
                }

            }
            else if (get_cookie("success_limbs")) {
                rad = document.getElementsByName('limbs');
                parametr = get_cookie("success_limbs");
                for (var i = 0; i < 5; i++) {
                    if (rad[i].value == parametr)
                        rad[i].checked = true;
                }
            }
            if (get_cookie("abilities")) {
                var masiv = [];
                var k = 0;
                parametr = get_cookie("abilities");
                for (var i = 0; i < parametr.length; i++) {
                    if (parametr[i] == ',') {
                        masiv.push(parametr.substring(k, i));
                        k = i + 1;
                    }
                }
                masiv.push(parametr.substring(k, parametr.length));
                const select = document.querySelector('#abilities').getElementsByTagName('option');
                for (let i = 0; i < select.length; i++) {
                    for (var j = 0; j < masiv.length; j++) {
                        if (select[i].value === masiv[j])
                            select[i].selected = true;
                    }
                }
            }
            else if (get_cookie("success_abilities")) {
                var masiv = [];
                var k = 0;
                parametr = get_cookie("success_abilities");
                for (var i = 0; i < parametr.length; i++) {
                    if (parametr[i] == ',') {
                        masiv.push(parametr.substring(k, i));
                        k = i + 1;
                    }
                }
                masiv.push(parametr.substring(k, parametr.length));
                const select = document.querySelector('#abilities').getElementsByTagName('option');
                for (let i = 0; i < select.length; i++) {
                    for (var j = 0; j < masiv.length; j++) {
                        if (select[i].value === masiv[j])
                            select[i].selected = true;
                    }
                }
            }
            if (get_cookie("biography")) {
                var results = document.cookie.match('(^|;) ?' + "biography" + '=([^;]*)(;|$)');
                document.getElementById('biography').value = decodeURIComponent(results[2]);
            }
            else if (get_cookie("success_biography")) {
                var results = document.cookie.match('(^|;) ?' + "success_biography" + '=([^;]*)(;|$)');
                document.getElementById('biography').value = decodeURIComponent(results[2]);
            }
            if (get_cookie("checkbox")) {
                document.getElementsByName('checkbox')[0].checked = true;
            }
            else if (get_cookie("success_checkbox")) {
                document.getElementsByName('checkbox')[0].checked = true;
            }
        }
        return false;
    }
    function get_cookie(cookie_name) {
        var results = document.cookie.match('(^|;) ?' + cookie_name + '=([^;]*)(;|$)');
        if (results)
            return (unescape(results[2]));
        else
            return null;
    }
    function delete_cookie(cookie_name) {
        var cookie_date = new Date();
        cookie_date.setTime(cookie_date.getTime() - 1);
        document.cookie = cookie_name += "=; expires=" + cookie_date.toGMTString();
    }
</script>