<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <main id="background">
    <div class="forma">
    <div id="list">
    <h2 id="forma"><%=form %></h2>
    <form action="/create-form" enctype="multipart/form-data" method="POST">
        <label>
            Имя:
            <br/><input type="text" name="name" value="" placeholder="Введите имя">
        </label>
        <label>
            <br/>e-mail:
            <br/><input type="email" name="email" value="" placeholder="example@erebor.com">
        </label>
        <label>
            <br/>Дата рождения:
            <br/><input type="date" name="birthday" value="" placeholder="Дата рождения">
        </label>
        <br/>Пол:
        <br/>
        <label> 
            <input name="sex" type="radio" value="male" checked>
            Мужской
        </label>
        <label>
            <input name="sex" type="radio" value="female">
            Женский
        </label>
        <br/>Количество конечностей:
        <br/>
        <label>
            <input name="limbs" type="radio" value="1">
            1
        </label>
        <label>
            <input name="limbs" type="radio" value="2">
            2
        </label>
        <label>
            <input name="limbs" type="radio" value="3">
            3
        </label>
        <label>
            <input name="limbs" type="radio" value="4">
            4 
        </label>
        <label>
            <input name="limbs" type="radio" value="more" checked>
            5+
        </label>
        <label>
            <br/>Сверхспособности:
            <br/>
            <select size="4" name="abilities" multiple>
                <option value="immortality">Бессмертие</option>
                <option value="invis">Невидимость</option>
                <option value="tp">Телепортация</option>
                <option value="levitation">Левитация</option>
            </select>
        </label>
        <label>
            <br/>Биография:
            <br/><textarea name="biography" value="" placeholder="Напишите свою биографию" cols="50" rows="10"></textarea>
        </label>
        <label>
            <br/>С контрактом ознакомлен: 
            <input type="checkbox" checked name="checkbox">
        </label>
        <br/><button type="submit">Отправить</button>
    </form> 
    </div>
    </div>  
    </main>
</body>
<html>